<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>

    <!-- <%- include("./partials/header") %> -->
    <%- include("./partials/navigation") %>
    <!-- <%- include("./partials/content") %> -->

    <div>
        <%- include("./partials/header") %> 
        <%- include("./partials/content") %>
    </div>
    
    
    
</body>
</html>